In [3]:
# Dependencies and Setup 
import pandas as pd
import os
import sys

import datetime  
def _getToday(): return datetime.date.today().strftime("%Y%m%d")

In [1]:
# Define path to csv file 
cities_file=os.path.join('.','resources','cities.csv') 
cities_file

'.\\resources\\cities.csv'

In [5]:
# Read in csv file and convert to dataframe 
# Read file and define it as 'file_cities'
file_cities=pd.read_csv(cities_file) 

# Create dataframe
cities_df=pd.DataFrame(file_cities)

# Columns to display in dataframe.
cities_df=cities_df[["City_ID","City", "Country", "Lat", "Lng", "Date", "Cloudiness", "Humidity", "Max Temp", "Wind Speed"]] 

# Display dataframe output
cities_df.head()

,City_ID,City,Country,Lat,Lng,Date,Cloudiness,Humidity,Max Temp,Wind Speed
0,0,jacareacanga,BR,-6.22,-57.76,1528902000,0,62,89.60,6.93
1,1,kaitangata,NZ,-46.28,169.85,1528905304,100,94,42.61,5.64
2,2,goulburn,AU,-34.75,149.72,1528905078,20,91,44.32,10.11
3,3,lata,IN,30.78,78.62,1528905305,76,89,59.89,0.94
4,4,chokurdakh,RU,70.62,147.90,1528905306,0,88,32.17,2.95

In [8]:
# output data frame to html format
cities_df.to_html('./cities.html', index=False)